html {

    background-image: url(Frogs.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }
.row{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border:2px transparent rgb(255, 192, 203, .5);
}
.card {
  /*float: left;*/
  max-width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border:2px solid rgb(255, 192, 203, .5);
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;
  border:2px solid rgb(255, 192, 203, .5);
}

.card-text {
  font-size: 85%;
}

::-webkit-scrollbar {
    display: none;
}
#wrapper {
    width:940px;
    margin: 0 auto;
}

header {
    text-align:center;
    padding:7px 0;
    text-shadow: white;
    font: Arial;
    color:rgb(66, 201, 66);
    font: italic small-caps bold 16px/2 cursive;
  }

nav {
    width:100%;
    background: #9cf766;
    height: 60px;
    line-height:50px;
    position: static;
    margin-top: 7px;
    margin-bottom: 7px;
    left: 0;
    

}
.fixed {
    position:fixed;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1;    
}