#Page {
  background-image: url(Frogs.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: italic;
  margin-right: -1rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

embed {
  width: 100%;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px transparent rgb(255, 192, 203, .5);
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  max-width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(255, 192, 203, .5);
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font: italic small-caps 16px/2 cursive;

}

.card>img {
  margin-bottom: .75rem;
  width: 100%;
  border: 2px solid rgb(255, 192, 203, .5);
  border-radius: 10px;
}

.card-text {
  font-size: 85%;
}

.card-title {
  font-size: 85%;
  font: italic small-caps bald 16px/2 cursive;

}

::-webkit-scrollbar {
  display: none;
}


header {
  text-align: center;
  text-shadow: white;
  color: white;
  font: italic small-caps bold 16px/2 cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 7px;
}


footer {
  width: 100%;
  background: rgba(203, 249, 185, 255);
  height: 50px;
  line-height: 50px;
  position: static;
  left: 0;
  border: 2px solid rgb(255, 192, 203, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: italic small-caps bold 16px/2 cursive;
  color: white;
  position:absolute;
  bottom:0px;

}

.fixed {
  position: fixed;
}


.oval {
  width: 200px;
  height: 80px;
  background: rgb(255, 192, 203);
  border-radius: 50%;
  justify-content: center;
}

a:link {
  color: white;
  font: italic small-caps bold 16px/2 cursive;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: white;
  font: italic small-caps bold 16px/2 cursive;
}

a:hover {
  color: pink;
  font: italic small-caps bold 16px/2 cursive;
}

a:active {
  color: yellow;
  font: italic small-caps bold 16px/2 cursive;
}

.no-italics {
  font-style: normal;
}

.cat-name {
  font: italic small-caps 20px/2 cursive;
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  overflow-x: hidden;
}

#botemb{
  margin-bottom: -2px;
}
#topemb{
  margin-bottom: -30px;

}
.agr{
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: aliceblue;
  border: 2px solid rgb(255, 192, 203, .5);
  padding: 1rem;
  border-radius: 10px;
  margin-top: -2rem;
  margin-bottom: 20px;
}
.agr a:link{
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}
.agr a:visited {
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}

.agr a:hover {
  color: pink;
  font: italic small-caps bold 12px/2 cursive;
}

.agr a:active {
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}