#Page {
  background-image: url(Frogs.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: italic;
  margin-right: -1rem;

}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px transparent rgb(255, 192, 203);
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  max-width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(255, 192, 203, .5);
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: aliceblue;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font: italic small-caps 16px/2 cursive;

}

.card img {
  width: 100%;
  border: 2px solid rgb(255, 192, 203, .5);
  border-radius: 10px;
}

.card-text {
  font-size: 75%;
  font-style: normal;
}

.card-title {
  font: italic small-caps bold 14px cursive;

}

::-webkit-scrollbar {
  display: none;
}


header {
  text-align: center;
  text-shadow: white;
  color: white;
  font: italic small-caps bold 16px/2 cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 7px;
}


footer {
  width: 100%;
  background: rgba(203, 249, 185, 255);
  height: 50px;
  line-height: 50px;
  position: static;
  left: 0;
  border: 2px solid rgb(255, 192, 203, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: italic small-caps bold 16px/2 cursive;
  color: white;
  position: absolute;
  bottom: 0px;

}

.fixed {
  position: fixed;
}


.oval {
  width: 200px;
  height: 80px;
  background: rgb(255, 192, 203);
  border-radius: 50%;
  justify-content: center;
}

a:link {
  color: rgb(32, 31, 31);
  outline: none;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: pink;
}

a:active {
  color: yellow;
}

.no-italics {
  font-style: normal;
}

.cat-name {
  font: italic small-caps 20px/2 cursive;
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  overflow-x: hidden;
}

#botemb {
  margin-bottom: -2px;
}

#topemb {
  height: 80px;
}

.agr {
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: aliceblue;
  border: 2px solid rgb(255, 192, 203, .5);
  padding: 1rem;
  border-radius: 10px;
  font: italic 50px bold "Times New Roman", Times, serif;
}

.agr a:link {
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}

.agr a:visited {
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}

.agr a:hover {
  color: pink;
  font: italic small-caps bold 12px/2 cursive;
}

.agr a:active {
  color: black;
  font: italic small-caps bold 12px/2 cursive;
}

.card a:link {
  color: black;
}

.card a:visited {
  color: black;
}

.card a:hover {
  color: black;
}

.card a:active {
  color: black;
}
#padded {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.privacy-list{
  font: italic 50px bold "Times New Roman", Times, serif;
}
.privacy-list p, div{
margin-left: 1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}
.privacy-list span{
  margin-right: 5px;
}
.prod-card{
  margin: 0 3rem 0 1rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: aliceblue;
  border: 2px solid rgb(255, 192, 203, .5);
  border-radius: 10px;
  font: italic small-caps 16px/2 cursive;

}
.prod-card img {
  width: 90%;
  height: 50% ;
  border: 2px solid rgb(255, 192, 203, .5);
  border-radius: 10px;

  
}
.prod-card #prod-name{
  font: italic small-caps 20px cursive;

}
.prod-descr{
  justify-content:left;
  margin-left: 1rem;

}
.prod-review{
  margin: 1rem 3rem 0 1rem;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: aliceblue;
  border: 2px solid rgb(255, 192, 203, .5);
  border-radius: 10px;
  font: italic small-caps 16px/2 cursive;
  padding: 5px;

}
.about{
  margin-right: 2rem;
  background-color: aliceblue;
  border: 2px solid rgb(255, 192, 203, .5);
  padding: 1rem;
  border-radius: 10px;
  font: italic small-caps 24px cursive;
  margin-bottom: 5rem;
}

